section.slider_2 {
    overflow: hidden;
}

section.sldier_2 .mySlides {
    display: none;
}

section.slider_2 .mySlides img {
    vertical-align: middle;
    height: 80vh;
    object-fit: cover;
}

section.sldier_2 .cursor {
    cursor: pointer;
}

section.slider_2 .prev,
section.slider_2 .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

section.slider_2 .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

section.slider_2 .prev:hover,
section.slider_2 .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

section.slider_2 .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

section.slider_2 .slider_galeri:after {
    content: "";
    display: table;
    clear: both;
}

section.slider_2 .slider_galeri_sutun {
    float: left;
    width: 16.66%;
}

section.slider_2 .slider_galeri_sutun .demo {
    filter: brightness(0.4);
    margin-top: 25%;
}

.active,
.demo:hover {
    opacity: 1;
}